@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.{HmrcStandardFooter, HmrcStandardHeader, HmrcHead, HmrcScripts}

@this(
govukLayout: GovukLayout,
hmrcHead: HmrcHead,
hmrcStandardHeader: HmrcStandardHeader,
hmrcStandardFooter: HmrcStandardFooter,
hmrcScripts: HmrcScripts
)

@(pageTitle: String)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages)

@govukLayout(
pageTitle = Some(pageTitle),
headBlock = Some(hmrcHead()),
headerBlock = Some(hmrcStandardHeader(
serviceUrl = Some(todo.routes.TodoFrontendController.list.url)
)),
scriptsBlock = Some(hmrcScripts()),
footerBlock = Some(hmrcStandardFooter())
)(contentBlock)